@import "tailwindcss";
@plugin "daisyui" {
  themes: --default;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}

.animated-border {
  animation: borderMove 6s linear infinite;
}

/* in index.css */
.link-transition {
  @apply relative text-gray-700 hover:text-black transition;
}

.link-transition::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: black;
  transition: 0.3s;
}

.link-transition:hover::after {
  color: chartreuse;
  width: 100%;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shimmerMove {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmerMove 1.4s linear infinite;
}

button {
  cursor: pointer;
}
